html, body {
	height: 100%;
	color: #4D4D4D;
}

.navbar {
	background-color: #305B90;
    background: -webkit-linear-gradient(315deg, #000000 0%, #363b40 30%, #93969a 100%) fixed;
    background: linear-gradient(135deg, #000000 0%, #363b40 30%, #93969a 100%) fixed;
	border: none;
	font-weight: bold;
	margin-bottom: 0px;
}

.navbar a {
	color: white !important;
}

.margin-side {
	margin-left: 60px;
	margin-right: 60px;
}

.margin-top {
	margin-top: 50px;
}

.lead-avatar {
	background-image: url(../images/cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	top: 50px;
	bottom: 0;
}

.about-header {
	font-size: 48px;
	font-weight: bolder;
	margin-top: 100px;
}

.intro {
	font-size: 150%;
	font-family: serif;
	line-height: 1.2;
}

span.glyphicon {
	padding-right: 10px;
}

.img-circle {
	height: 50px;
	width: 50px;
}

.heading-section {
	font-family: sans-serif;
	font-weight: 700;
}

.inspiration-section,
.foss-section {
	display: inline-flex;
}

.inspiration-section img,
.foss-section img {
	margin: 0 30px;
}

div.list-group a span {
	float: right;
	margin-top: 5px;
}

a.list-group-item:nth-child(1):hover {
	color: #A82400;
}

a.list-group-item:nth-child(2):hover {
	color: #3b5998;
}

a.list-group-item:nth-child(3):hover {
	color: #E95950;
}

a.list-group-item:nth-child(4):hover {
	color: #55ACEE;
}

a.list-group-item:nth-child(5):hover {
	color: #DD4B39;
}

a.list-group-item:nth-child(6):hover {
	color: #007bb5;
}

a.list-group-item:nth-child(7):hover {
	color: #000000;
}

.articles-section .list-group a,
.articles-section .list-group a:hover{
	font-weight: bolder;
	color: lightgreen;
}

@media only screen and (max-width: 700px) {
    .lead-avatar {
        display: none;
    }
    .margin-side {
    	margin-left: 20px;
    	margin-right: 20px;
    }
    .inspiration-section {
    	display: block;
    }
    .inspiration-section img {
    	margin: 20px;
    }
}